.container {
    background-color: #DAE5F5;
    height: 100%;
    overflow-y: hidden;
}
.heading {
    background-color: #001F8B;
    height: 98px;
    position: sticky;
    top: 0;
    align-content: center;
    color: white;
    font-weight: 500;
    font-size: 24px;
    padding-left: 20px;
}
.textareaContainer {
    width: 75%;
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #001F8B;
    position: fixed;
    bottom: 0;
    border-bottom-left-radius: 18px;
}
.textarea {
    resize: none;
    width: 93%;
    height: 85%;
    border-radius: 9px;
    outline: none;
    font-weight: 400;
    font-size: 30px;
    padding: 20px 30px;
    letter-spacing: 2%;
}
.saveImg {
    position: absolute;
    top: calc(85% - 30px);
    left: calc(93% - 30px);
}
.notesContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    gap: 20px;
    overflow-y: auto;
    max-height: calc(100% - 323px);
    letter-spacing: 3.5%;
    font-size: 18px;
}
.notesContainer::-webkit-scrollbar {
    width: 12px;
}
.notesContainer::-webkit-scrollbar-track {
    background: #51555b;
}
.notesContainer::-webkit-scrollbar-thumb {
    background: #ffffff;    
    border-radius: 4px;
    border: 3px solid #51555b;
}
.notesContainer::-webkit-scrollbar-thumb:hover {
    background: #f8f5f5;
}
.noteCard {
    min-height: 120px;
    width: 94%;
    border-radius: 5px;
    background-color: #ffffff;
    padding: 25px 20px 10px 20px;
    font-weight: 400;
    box-shadow: 0 4px 20px #00000040;
}
.date {
    float: right;
    margin-top: 45px;
    font-weight: 500;
    color: #353535;
}