.groupCard {
  font-size: 24px;
  margin-top: 10px;
  width: 100%;
  display: flex;
  gap: 24px;
  cursor: pointer;
  align-items: center;
  padding: 14px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.groupCard:hover {
  transform: scale(1.05); /* Increases size slightly */
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2); /* Adds a shadow to make it look like it's coming forward */
}
.bigContentGroupCard {
    font-size: 24px;
    margin-top: 0px;
    width: 100%;
    display: flex;
    gap: 24px;
    cursor: pointer;
    align-items: center;
    /* background-color: red; */
}
.circle {
    width: 60px;  /* Adjust size as per your need */
    height: 60px;
    border-radius: 50%;  /* Makes the div a circle */
    display: flex;
    justify-content: center;
    align-items: center;  /* Centers the initials vertically and horizontally
    /* position: relative; */
  }
  
  .initials {
    font-size: 23px;  /* Adjust the font size */
    font-weight: bold;
    color: #fff;  /* Example text color */
  }
@media screen and (max-width: 468px) {
    .circle {
        width: 68px;  /* Adjust size as per your need */
        height: 68px;
        
      }
      .contentGroupCard {
        font-size: 20px;
        /* border: 2px solid; */
        margin-top: 10px;
        width: 100%;
        display: flex;
        gap: 20px;
        cursor: pointer;
        align-items: center;
      }
      .contentCircle {
        width: 48px;  /* Adjust size as per your need */
        height: 48px;
        border-radius: 50%;  /* Makes the div a circle */
        display: flex;
        justify-content: center;
        align-items: center;  /* Centers the initials vertically and horizontally
        /* position: relative; */
      }
      .contentInitials {
        font-size: 18px;  /* Adjust the font size */
        font-weight: bold;
        color: #fff;  /* Example text color */
      }
}