.container {
    background-color: #DAE5F5;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.img {
    padding-top: 10%;
}
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid; */
    width: 100%;
}
.title {
    height: 59px;
    width: 313px;
    font-weight: 700;
    letter-spacing: 2%;
}
.para {
    font-weight: 500;
    letter-spacing: 3%;
    line-height: 28px;
    padding-right: 120px;
}
.encrypt {
    display: flex;
    align-items: end;
    justify-content: center;
    /* border: 2px solid; */
    gap: 6px;
    height: 10%;
    padding-bottom: 10px;
    width: 40%;
    padding-right: 120px;
    margin-top: 80px;
}
@media screen and (max-width: 480px) {
    .container {
       display: none;
    }
}