.container {
    /* background-color: aqua; */
    min-width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 3px solid blue; */
    overflow: hidden;
}

.title {
    /* border: 2px solid; */
    height: 15vh;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 35px;
    position: sticky;
    top: 0;
    z-index: 100;
    width: 100%;
    background-color: white;
    align-content: end;
    text-align: center;
}

.groupContainer {
    /* border: 3px solid green; */
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 1px;
    z-index: 90;
    /* display: flex;
    flex-direction: column; */
    align-items: center;
    justify-content: center;
    gap: 16px;
    overflow-y: auto;
    max-height: 85vh;
    width: 100%;
    padding-left: 10%;
    padding-top: 10%;
    padding-bottom: 10%;
    line-height: 48px;
}
.groupContainer::-webkit-scrollbar {
    width: 8px;
}

.groupContainer::-webkit-scrollbar-track {
    background: #d9d9d9;
    margin-top: 9vh;
    padding-top: 40vh;
}

.groupContainer::-webkit-scrollbar-thumb {
    background: #ffffff;
    border-radius: 8px;
    border: 3px solid #d9d9d9;
}
.groupContainer::-webkit-scrollbar-thumb:hover {
    background: #f8f5f5;
}
/* .groupContainer {
    scrollbar-width: thin;
    scrollbar-color: #ffffff #d9d9d9;
} */


.groupCard {
    font-size: 24px;
    /* border: 2px solid; */
    margin-top: 24px;
    width: 100%;
    display: flex;
    gap: 24px;
    cursor: pointer;
}

.plus {
    position: fixed;
    z-index: 800; /* position fixed moves the button out of layout
                    hence it wont be clickable if other elements have a higher z-index */
    border-radius: 50%;
    padding: 18px;
    background-color: #16008B; 
    bottom: 5%;
    left: 19.5%;
    width: 66px;
    height: 66px;
    cursor: pointer;
    display: flex;
    justify-items: center;
    align-items: center;
}
.plusImg {
    /* background-color: red; */
    width: 100%;
    height: 100%;
}

.circle {
    width: 60px;  /* Adjust size as per your need */
    height: 60px;
    background-color: #8f4d4d;  /* Example background color */
    border-radius: 50%;  /* Makes the div a circle */
    display: flex;
    justify-content: center;
    align-items: center;  /* Centers the initials vertically and horizontally
    /* position: relative; */
  }
  
  .initials {
    font-size: 23px;  /* Adjust the font size */
    font-weight: bold;
    color: #fff;  /* Example text color */
  }

  @media screen and (max-width: 480px) {
    .container {
        width: 100%;
        
    }
    .title {
        text-align: start;
        padding-left: 10%;
        font-size: 32px;

    }
    .groupContainer {
        font-size: 18px;
        padding-top: 1%;

       
    }
    .plus {
        padding: 18px;
        bottom: 5%;
        left: 80%;
    }
  }